body{
    margin: 0px;
    background-image: url('../images/bg_pattern.png');
}
.links{
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    transition: .5s;
}

.links:hover{
    background-color: blueviolet;
    color: white;
}
